.leftBar__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 10vw;
  height: 80vh;
  padding: 5px;

  /* border: 1px solid var(--secondary-color); */
}

.link {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  &:hover {
    color: var(--contrast-color);
    background-color: var(--secondary-color);
  }
}
