.leftBar__wrapper {
  padding: 0px 15px 20px 15px;
}

.link {
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  min-width: 70px;

  &:hover,
  &:focus {
    color: var(--contrast-color);
    background-color: var(--secondary-color);
  }
}

.link_active {
  color: var(--contrast-color);
  background-color: var(--secondary-color);
}
